# I. Оператори порівняння та логічні оператори. Умови.

1. Створіть цілочисленну змінну зі своїм щасливим або улюбленим числом. Напишіть код, який би автоматизовував наступну задачу.

Якщо число парне, помножте його на 2 та виведіть результат на екран.

Але якщо число непарне, помножте його на 3 та додайте 1 і виведіть на екран.

In [ ]:
n = 8

if n % 2 == 0:
    result = n * 2
    print(result)
else:
    result = n * 3 + 1
    print(result)

16

2. Створіть змінну, що посилається на список. Якщо список пустий, додайте будь-який елемент у кінець списку. Якщо ж ні, то нічого не робіть.

In [ ]:
my_list = []

if not my_list:
    my_list.append(1)

print(my_list)

[1]

3. Створіть рядок зі своїм імʼям латинкою. Напишіть код, який би автоматизовував наступну задачу.

Якщо в імені є літера "а"
 або "i", Виведіть на екран повідомлення "A or I is in the name".



Якщо в імені є літери "o" та "n", Виведіть на екран повідомлення "O and N is in the name".

Також якщо в імені немає літери "о", але є "n", Виведіть на екран повідомлення "Only N is in the name".

В решті випадків виведіть на екран повідомлення "There is no N in the name, but there might be O".

Зверніть увагу, що, наприклад, для імені "Antonina" буде виведено два повідомлення.

In [ ]:

s = 'Kateryna'
if 'a' or 'i' in s:
  print('A or I is in the name')
if ('o' in s and 'n' in s):
  print('O and N is in the name')
if not('o' in s) and 'n' in s:
  print("Only N is in the name")
else :
    print("There is no N in the name, but there might be O")

A or I is in the name
Only N is in the name

# II. Comprehensions.

4. Створіть список, використовуючи if (не if-else), range та comprehension.

In [ ]:
even_numbers = [x for x in range(10) if x % 2 == 0]

even_numbers

[0, 2, 4, 6, 8]

5. Створіть словник, використовуючи dict comprehension, що містить if else. Коли слід використовувати comprehensions, а коли їх слід уникати?

In [ ]:
numbers = [1, 2, 3, 4, 5]
squared_numbers = {x: x**2 if x % 2 == 0 else x**3 for x in numbers}

print(squared_numbers)

{1: 1, 2: 4, 3: 27, 4: 16, 5: 125}

*місце для відповіді

6. Створіть список з рядками та запишіть його у змінну. Створіть ще один список на основі попереднього, де кожен рядок буде містити тільки три перших заглавних символи. Наприклад: ['hello', 'i', 'dont', 'care'] -> ['HEL', 'I', 'DON', 'CAR']. Використання comprehensions обовʼязкове.

In [ ]:
my_strings = ['elephant', 'dog', 'turtle']
uppercased_list = [s[:3].upper() for s in my_strings]
uppercased_list

['ELE', 'DOG', 'TUR']

# III. Цикли.

7. Продемонструйте роботу циклу while. Не можна використовувати True для запуску циклу, щоб уникнути безкінечного циклу!

In [ ]:
x = 2
while not(x == 4):
  print('ha')
  x += 1

ha
ha

8. Напишіть програму, яка виведе на екран непарні числа в діапазоні від 0 до 20 включно.

In [ ]:
x = 0
while x <= 20:
  if x % 2 == 0:
    print(x)
  x += 1

0
2
4
6
8
10
12
14
16
18
20

9. Створіть список з елементами булевого типу або None. Використовуючи цикли, отримайте в результаті список з кортежами, де перший елемент кортежу - індекс(ціле число), а другий елемент - відповідне значення з першого списку.

Наприклад, [True, True, None, False] -> [(0, True), (1, True), (2, None), (3, False)]

In [ ]:
my_list = [True, True, None, False]
indexed_list = [(i, value) for i, value in enumerate(my_list)]
indexed_list

[(0, True), (1, True), (2, None), (3, False)]

10. Створіть словник, де ключі - назви книжок, а значення - їхня кількість у наявності в Вашій міні-бібліотеці. Бібліотека має містити щонайменше 6 книжок (6 пар значень у словнику) і щонайбільше 10 (пар значень). Використовуючи цикли, оновіть словник (не створюйте новий) так, щоби кількість книг у наявності збільшилося на 5 кожної книги. Наприклад,
{'It': 3, 'Fault stars': 10, 'Bible': 17, 'Psychological romance': 4, 'Harry Potter': 13} -> {'It': 8, 'Fault stars': 15, 'Bible': 22, 'Psychological romance': 9, 'Harry Potter': 18}

In [ ]:
library = {'It': 3, 'Fault stars': 10, 'Bible': 17, 'Psychological romance': 4, 'Harry Potter': 13}
for book in library:
  library[book] +=5

print(library)

{'It': 8, 'Fault stars': 15, 'Bible': 22, 'Psychological romance': 9, 'Harry Potter': 18}

11. Визначте цілочислену змінну n, що належить проміжку від 4 до 10 включно. Використовуючи цикли, виведіть в консоль наступний патерн.

#
##
###
####

... #*n

In [ ]:
n = 10

for i in range(1, n+1):
    print('#' * i)

#
##
###
####
#####
######
#######
########
#########
##########

12. Гра "Нумо вгадай".
Розробіть просту гру, де користувач має вгадати випадкове число від 1 до 100. Для генерації випадкового числа використовуйте функцію random.randint(a, b) (тут a та b включно). Для отримання числа з консолі використовуйте функцію input(), результат якої обовʼязково явно приведіть до типу int.

Підказка: використовуйте цикл while та умови if-else, щоб повідомити користувачу піказки (напр. "Більше", "Менше") поки користувач не вгадає. По завершенню виведіть кількість спроб, які знадобилися для вгадування.

In [115]:
import random

random_number = random.randint(1, 100)
attempts = 0

user_input = input("Guess the number from 1 to 100: ")
user_number = int(user_input)

while user_number != random_number:
    if user_number < random_number:
        print('The number is bigger')
    else:
        print('The number is smaller')

    attempts += 1
    user_input = input("Try again: ")
    user_number = int(user_input)

print('You won with', attempts, 'attempts')

TypeError: 'str' object is not callable

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.